td {
            
    width: 100px;
    height: 20px;
}
    fieldset{
    width: 500px;
}
fieldset{
    width: 500px;
}
input {
    margin: 5px 0;
}
.ho {
    margin-left: 46px ;
}
.ten {
    margin-left: 40px ;
    
}
.tuoi {
    margin-left: 36px ;

}
